#*
*.pyc
~*
*~
*/node_modules

*/HELP.md
*/target/
*/!.mvn/wrapper/maven-wrapper.jar
*/.mvn
*/!**/src/main/**/target/
*/!**/src/test/**/target/

api-rust/target
api-rust/Cargo.lock

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*/build
